NEXT_PUBLIC_SUPABASE_URL=https://xllhhktkfjesghesvjsg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_publishable_key
DATABASE_URL=postgresql://postgres:your_database_password@db.xllhhktkfjesghesvjsg.supabase.co:5432/postgres
